
.container {
  height: 80vh;
  position: relative;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body {
  font-family: sans-serif;
}
a:visited {
  color: blue;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  position: relative;
}

a:after {
  border-radius: 1em;
  border-top: 0.1em solid #2f56b0;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1);
}

a:hover:after {
  right: 0;
}


input[type=text]:focus {
  border: none;
  border-bottom: 2px solid blue;
}

input[type=text], select {
  appearance: none;
  background-color: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid black;
}

select {
  height: 17px;
}

button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 80px;
  height: 17px;
}

button.curLoc {
  height: auto;
  padding: 10px;
  font-size: 15px;
  background-image: linear-gradient(to right, rgb(0, 194, 158) , blue , purple);
  cursor: pointer;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}